[Unit]
Description=gaiad metrics exporter
After=network-online.target
[Service]
User={{gaiaexporter_user}}
ExecStart={{gaiaexporter_user_home}}/go/bin/gaiaexporter 
Restart=always
RestartSec=3

# Sandboxing features
PrivateTmp=yes
NoNewPrivileges=true
ProtectSystem=strict
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_DAC_READ_SEARCH
RestrictNamespaces=uts ipc pid user cgroup
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
PrivateDevices=yes
RestrictSUIDSGID=true
RestrictAddressFamilies=AF_INET
IPAddressAllow=localhost
[Install]
WantedBy=multi-user.target